<script src="~/Scripts/Plugins/Tester.js"></script>
<script src="~/Scripts/Widgets/WidgetsViewModel.js"></script>
<script>
    $(function () {
        var vm = new WidgetsViewModel();
        ko.applyBindings(vm);
    });
</script>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td colspan="3" class="text-right">
                        @Html.Partial("_Paginator")
                    </td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Jack</td>
                    <td>Box</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: Widgets">
                <tr>
                    <td data-bind="text: Id"></td>
                    <td data-bind="text: Jack"></td>
                    <td data-bind="text: Box"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
