<script src="~/Scripts/Widgets/WidgetsViewModel.js"></script>
<script src="~/Content/js/PagerViewModel.js"></script>
<script>
    $(function () {
        var vm = new WidgetsViewModel();
        ko.applyBindings(vm);
    });
</script>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped ko-sortable">
            <thead>
                <tr>
                    <td colspan="3" class="text-right">
                        @Html.Partial("_Paginator")
                    </td>
                </tr>
                <tr>
                    <th data-bind="click: SortColumn">ID</th>
                    <th data-bind="click: SortColumn">Jack</th>
                    <th data-bind="click: SortColumn">Box</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Data">
                <tr>
                    <td data-bind="text: Id"></td>
                    <td data-bind="text: Jack"></td>
                    <td data-bind="text: Box"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
